.App{
background-color: #9ca89f;
}

.App .copyright{
  text-align: center;
}
body{
  background-color: #9ca89f;
}

/* * { border: 1px solid red; } */

.navbar{
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  width: 100%;

  color:black;
  background-color: transparent;
}
.navbar ul{
  list-style: none;
  text-align: left;
}

.nav-item{
 color: black;
 font-size: 1.5em;
 padding-right: 20px;
 display: inline;
}

.nav-item > .active {
  border-bottom: 1px solid #333;
}

.name{
  padding-right: 20px;
  display: flex;
  align-items: center;
}
.name img{
  padding-right: 10px;
}

.main{
  height: 100vh;
  background: url(./components/bg4.jpg), rgb(0, 0, 0);
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;

}

h3 { 
  position: absolute; 
  top: 500px; 
  left: 10px; 
  width: 100%; 
  text-align: left;

}

h3 span { 
  color: rgb(255, 109, 42); 
  font: bold 24px/45px Helvetica, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0); /* transparent background - adjust last number*/
  padding: 20px; 
}

h3 span.spacer {
  padding:0 5px;
}

h4{
  position: absolute;
  top: 610px;
  width: 100%;
  text-align: right;
}

h4 span { 
  color: rgb(255, 109, 42); 
  font: bold 20px/25px Helvetica, Sans-Serif; 
  letter-spacing: -1px;  
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0); /* transparent background - adjust last number*/
  padding: 20px; 
}

.about{
  height: 100vh;
  background-color: #9ca89f;
  padding-left: 20px;
  
}
.about h1{
  font-size: 35pt;
}

.bio{
  display: flex;
  flex-direction: column;
  align-items: center;
  
 
}
.bio ul{
  width: 75%;
  font-size: 15pt;
  letter-spacing: 2px;
  line-height: 35px;
}

.bio img{
  border-radius: 100%;
  padding: 30px;
}

.bio .p2{
  font-size: 12pt;
  letter-spacing: 1.5px;
  
}
.experience{
  height: 90vh;
  background-color: #9ca89f;
  
}
.experience h1{
  padding-left: 20px;
  font-size: 35pt;

}

.accordion {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background-color:rgb(255, 109, 42) ;
}

.accordion__item + .accordion__item {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  
}

.accordion__button {
  background-color: tan;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  font-size: 15pt;
}

.accordion__button:hover {
  background-color: rgb(255, 109, 42);
}

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

[hidden] {
  display: none;
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

h5{
  font-size: 12pt;
}

.experience h2{
  font-size: 30pt;
  color: black;
  font-weight: bolder;
  text-align: center;
}

.contact{
  height: 90vh;
  background-color: #9ca89f;
}

.contact h1{
  padding-left: 20px;
}
.contact p{
  text-align: center;
  padding: 15px;
  font-size: 25pt;
  font-weight: bolder;
  line-height:40px;
  letter-spacing: 5px;
  color: rgb(255, 109, 42);
}

.logos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logos img{
  padding: 20px;
}

.connectMobile{
  display: none;
}

#footer .content p {
  margin-bottom: 0
}

/* ------------------ Start Mobile CSS ----------------------- */

@media (max-width: 650px){
  .main{
    background-image: url(./mobilebg.jpg);
    background-position-x: left;
    background-position-y: bottom;
    margin-bottom: 100px;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    width: 100%;
  
    color:black;
    background-color: tan;
  }
  .name{
    display: none;
  }
  .name img{
    padding-right: 10px;
    display: none;
  }

  h3 { 
    position: absolute; 
    top: 50%; 
    left: 10px; 
    width: 100%; 
    text-align: left;
    
  }
  
  h3 span { 
    color: rgb(255, 109, 42); 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.3); /* transparent background - adjust last number*/
    padding: 0; 
    
  }
  
  h3 span.spacer {
    padding:0;
  }
  
  h4{
    display: none;
  }
  
  h4 span { 
    color: rgb(255, 109, 42); 
    font: bold 20px/25px Helvetica, Sans-Serif; 
    letter-spacing: -1px;  
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0); /* transparent background - adjust last number*/
    padding: 20px; 
  }
  
  .about{
    height: auto;
    background-color: #9ca89f;
    padding-left: 20px;
  }

  .experience{
    height: auto;
  }
  .connectMobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
}